@import 'src/styles/_vars.scss';

#card {
    border: 3px solid $rouge-fonce;
    border-radius: 5px;
    width: 310px;
    height: 120px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 2px 5px 7px 0px rgba(0, 0, 0, 0.267);

    .card-title {
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;
    padding-top:10px;
    padding-bottom:3px;
    }

    .card-tag {
        text-align:center;
        font-size: 12px;
        color: $rouge-fonce;
    }

    .card-vote {
        display:flex;
        justify-content: space-around;
        width:100px;
        margin:10px auto;
    }

    .icone {
        cursor: pointer;     
        color: #d1d1d1;    
    }
    .upvoted {
        color:rgb(101, 211, 28);
    }
    .downvoted {
        color: rgb(209, 40, 40);
    }

    .card-vote-no, .card-vote-yes {
        display:flex;
        align-items: center;
        width: 28px;
        justify-content: space-between;
    }

    .card-vote-yes-count,.card-vote-no-count  {
        font-size:14px;
    }

    .btn-remove {
        font-size: 12px;
        padding: 5px 7px;
        background-color: $rouge-fonce;
        color: white;
        text-align: center;
        position: relative;
        bottom:0;
        cursor: pointer;
        text-transform: uppercase;
    }
}
